build*/
vcpkg_installed/
vcpkg/downloads/
vcpkg/buildtrees/
vcpkg/packages/
vcpkg/installed/
external/
.github/
.vs/
.vscode/
*.dll
*.suo
*.user
*.userosscache
*.sln.docstates
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.lib
*.obj
*.pdb
*.ilk
*.exp
Debug/
Release/
x64/
x86/
*.log
.DS_Store
Thumbs.db